<!Doctype html>
<html lang="en-US">
<head>
<title>Angular</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>	
</head>
<body ng-app="basicApp">
	<div ng-controller="homeController">
		<label>Username:</label>
		<input type="text" ng-model="uname" placeholder="Enter your username here"/>
		<hr/>
		<h2>hello {{uname}}</h2> 

		<button type="button" ng-click="testMe()">Test me</button>
	</div>

<script type="text/javascript" src="app.js"></script>
</body>
</html>